@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        //background-color: lightblue;
        background-image: url('https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="container">


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <blockquote class="blockquote text-center">
                <p class="mb-0">>Pour le reste, il va de soi que mes lectures m'ont énormément apporté. Pendant ces années passées, elles ont été ce goutte-à-goutte qui a fait passer dans mon sang et ma tête ce qui m'a permis de subsister et de grandir.</p>
                <footer class="blockquote-footer">Charles  Juliet<cite title="Source Title">  Dans la lumiere des saisons</cite></footer>
            </blockquote>
        </div>
    </div>

   
</div>


