@model ContosoUniversity.Models.Courant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle_courant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle_courant)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_courant }) |
    @Html.ActionLink("Back to List", "Index")
</p>
